dblpy
Click
Pillow
Pint
PyNaCl
PyYAML
SQLAlchemy
aiohttp
async-timeout
attrs
beautifulsoup4
blis
certifi
cffi
chardet
cymem
discord
discord.py
disputils
dnspython
dnspython3
ffmpeg
gTTS
gTTS-token
idna
mathparse
mcstatus
mpmath
multidict
murmurhash
nltk
numpy
pip
plac
preshed
pycparser
python-dateutil
python-dotenv
pytz
requests
ruamel.yaml
setuptools
six
soupsieve
srsly
thinc
tqdm
urllib3
wasabi
websockets
yarl
youtube_dl